@page
@model SafeBuilding.Pages.RentContractCrud.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RentContract</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentContract.Contract)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentContract.Contract)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentContract.ExpiryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentContract.ExpiryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentContract.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentContract.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentContract.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentContract.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentContract.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentContract.Customer.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentContract.Flat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentContract.Flat.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="RentContract.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/RentContractPage">Back to List</a>
    </form>
</div>
