@page
@model SafeBuilding.Pages.BuildingCrud.IndexModel
@{
    ViewData["Title"] = "Building page";
}
<p>
    <a asp-page="./BuildingCrud/Create">Create New</a>
</p>

<form asp-page="/BuildingPage" method="get">  

    <div class="form-actions">  
        <p>  
            Find by Building name: <input type="text" name="SearchString" value="@Model.CurrentFilter" />  
            <input type="submit" value="Search" class="btn btn-primary" /> ||  
            <a asp-page="/BuildingPage">Back to full List</a>  
        </p>  
    </div>  
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Building[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Building) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./BuildingCrud/Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./BuildingCrud/Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
