@page
@model SafeBuilding.Pages.BuildingCrud.IndexModel
@{
    ViewData["Title"] = "Building page";
}
<p>
    <a asp-page="./BuildingCrud/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Building[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Building) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./BuildingCrud/Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./BuildingCrud/Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
