@page
@model SafeBuilding.Pages.FlatTypeCrud.IndexModel
@{
    ViewData["Title"] = "FLat Type page";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<p>
    <a asp-page="./FlatTypeCrud/Create">Create New</a>
</p>
<table class="table table-hover">
    <thead class="bg-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlatType[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlatType[0].Description)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.FlatType[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FlatType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./FlatTypeCrud/Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./FlatTypeCrud/Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
