@page "/Index"
@model SafeBuilding.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<form method="post">
    <h3>Chart Form</h3>
    <div class="form-group">
        <label>Bill date:</label>
        <input asp-for="@Model.billDate" type="month" min="1999-01" max="2050-12" value="2010-01" placeholder="Enter bill date">
        <span asp-validation-for="@Model.billDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Flats of building</label>
        <select asp-for="@Model.buildingId">
            @foreach (var item in Model.buildings)
            {
                <option asp-for="@Model.buildingId" value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Contract Year</label>
        <input asp-for="@Model.contractYear" type="number" min="1999" max="2050" step="1" placeholder="Enter year">
        <span asp-validation-for="@Model.contractYear" class="text-danger"></span>
    </div>
    <button class="submit" value="Chart">OK</button>
</form>

<form method="post">

    <input asp-for="@Model.buildings[1].Name" type="hidden">
    <input id="totalContracts" asp-for="@Model.contractStatistic[0]" type="hidden">
    <input id="January" asp-for="@Model.contractStatistic[1]" type="hidden">
    <input id="Febuary" asp-for="@Model.contractStatistic[2]" type="hidden">
    <input id="March" asp-for="@Model.contractStatistic[3]" type="hidden">
    <input id="April" asp-for="@Model.contractStatistic[4]" type="hidden">
    <input id="May" asp-for="@Model.contractStatistic[5]" type="hidden">
    <input id="June" asp-for="@Model.contractStatistic[6]" type="hidden">
    <input id="July" asp-for="@Model.contractStatistic[7]" type="hidden">
    <input id="August" asp-for="@Model.contractStatistic[8]" type="hidden">
    <input id="September" asp-for="@Model.contractStatistic[9]" type="hidden">
    <input id="October" asp-for="@Model.contractStatistic[10]" type="hidden">
    <input id="November" asp-for="@Model.contractStatistic[11]" type="hidden">
    <input id="December" asp-for="@Model.contractStatistic[12]" type="hidden">

    <input id="Available" asp-for="@Model.flatStatistic["AVAILABLE"]" type="hidden">
    <input id="Pending" asp-for="@Model.flatStatistic["PENDING"]" type="hidden">
    <input id="Unavailable" asp-for="@Model.flatStatistic["UNAVAILABLE"]" type="hidden">

    <input asp-for="@Model.billStatistic["UNPAID"]" type="hidden">
    <input asp-for="@Model.billStatistic["PAID"]" type="hidden">

    <input style="width:100%" id="TotalContract" type="hidden" value="<%=dataValue.get(10)%>" readonly="readonly" />
    <input style="width:100%" id="January" type="hidden" value="<%=dataValue.get(11)%>" readonly="readonly" />
    <input style="width:100%" id="Febuary" type="hidden" value="<%=dataValue.get(12)%>" readonly="readonly" />
    <input style="width:100%" id="March" type="hidden" value="<%=dataValue.get(13)%>" readonly="readonly" />
    <input style="width:100%" id="April" type="hidden" value="<%=dataValue.get(14)%>" readonly="readonly" />
    <input style="width:100%" id="May" type="hidden" value="<%=dataValue.get(15)%>" readonly="readonly" />
    <input style="width:100%" id="June" type="hidden" value="<%=dataValue.get(16)%>" readonly="readonly" />
    <input style="width:100%" id="July" type="hidden" value="<%=dataValue.get(17)%>" readonly="readonly" />
    <input style="width:100%" id="August" type="hidden" value="<%=dataValue.get(18)%>" readonly="readonly" />
    <input style="width:100%" id="September" type="hidden" value="<%=dataValue.get(19)%>" readonly="readonly" />
    <input style="width:100%" id="October" type="hidden" value="<%=dataValue.get(20)%>" readonly="readonly" />
    <input style="width:100%" id="November" type="hidden" value="<%=dataValue.get(21)%>" readonly="readonly" />
    <input style="width:100%" id="December" type="hidden" value="<%=dataValue.get(22)%>" readonly="readonly" />

</form>
@*<table class="table table-hover">
    <thead class="bg-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.buildings[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buildings[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buildings[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buildings[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.buildings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-page="./ServiceCrud/Edit" asp-route-id="@item.Id">Edit</a> ||
                    <a asp-page="./ServiceCrud/Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>

    <canvas id="flatChart" style="width:100%;max-width:600px;float: right"></canvas>
    <canvas id="billChart" style="width:100%;max-width:600px; float: left;"></canvas>
    <canvas id="contractChart" style="width:100%;max-width:1200px;float: left;margin: 100px auto;"></canvas>

    <script>
        //var xContractValues = ["Italy", "France", "Spain", "USA", "Argentina"];
        //var yContractValues = [55, 49, 44, 24, 15];
        //var barColorsContract = ["red", "green","blue","orange","brown"];

        //new Chart("contractChart", {
        //  type: "bar",
        //  data: {
        //    labels: xContractValues,
        //    datasets: [{
        //      backgroundColor: barColorsContract,
        //      data: yContractValues
        //    }]
        //  },
        //  options: {
        //    legend: {display: false},
        //    title: {
        //      display: true,
        //      text: "Contract"
        //    }
        //  }
        //});

        var xFlatValues = ["Available", "Pending", "Unavailable"];
        var yFlatValues = [document.getElementById("Available").value, document.getElementById("Pending").value, document.getElementById("Unavailable").value];
        var barColorsFlat = [
            "#b91d47",
            "#00aba9",
            "#1e7145"
        ];

        new Chart("flatChart", {
            type: "pie",
            data: {
                labels: xFlatValues,
                datasets: [{
                    backgroundColor: barColorsFlat,
                    data: yFlatValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Flat"
                }
            }
        });

        var xBillValues = ["Paid", "Unpaid"];
        var yBillValues = [55, 45];
        var barColorsBill = [
            "#b91d47",
            "#1e7145"
        ];

        new Chart("billChart", {
            type: "pie",
            data: {
                labels: xBillValues,
                datasets: [{
                    backgroundColor: barColorsBill,
                    data: yBillValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Bill"
                }
            }
        });

        var xValues2 = ['January', 'Febuary', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        var yValues2 = [document.getElementById("January").value, document.getElementById("Febuary").value,
        document.getElementById("March").value, document.getElementById("April").value,
        document.getElementById("May").value, document.getElementById("June").value,
        document.getElementById("July").value, document.getElementById("August").value,
        document.getElementById("September").value, document.getElementById("October").value,
        document.getElementById("November").value, document.getElementById("December").value];
        var max = Number(document.getElementById("totalContracts").value);
        new Chart("contractChart", {
            type: "line",
            data: {
                labels: xValues2,
                datasets: [{
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: yValues2
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "Contract signed in this year"
                },
                scales: {
                    yAxes: [{ ticks: { min: 0, max: max } }]
                }

            }
        });
    </script>
</div>

