@page
@model SafeBuilding.Pages.RentContractCrud.IndexModel
@{
	ViewData["Title"] = "Rent Contract page";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<p>
    <a asp-page="./RentContractCrud/Create" class="btn btn-success">Create New</a>
</p>
<div style="margin-bottom:60px">
    <table class="table table-hover">
        <thead class="bg-primary">
            <tr>
                <th>
                    @Html.HiddenFor(model => model.RentContract[0].Contract)
                </th>
               
                <th>
                    Duration
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentContract[0].Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentContract[0].Value)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentContract[0].Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentContract[0].Flat)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RentContract)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.Contract)
                    </td>
                    <td>
                        From @Html.DisplayFor(modelItem => item.ExpiryDate)
                        <br>
                        to @Html.DisplayFor(modelItem => item.ExpiryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.Fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flat.RoomNumber)
                    </td>
                    <td style="width:20%">
                        <a asp-page="./RentContractCrud/Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                        <a asp-page="./RentContractCrud/Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>